@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --darkBgPrimary:#050505;
  --darkBgSecondary:#1F1F1F;
  --lightThemeText: #2D2D2D;
  --darkColor: #3A3A3A;
  --LightBgSecondary: #F4F4F4;
  --darkThemeText:#F4F4F4;
  --white: #FFFFFF;
  --purpleColor:#A445ED;
  --errorMsgColor: #FF5252;
}

.app-wrapper{
  min-height:100vh;
  padding: 10px 0;
}

.grayBg{
background-color:var(--darkThemeText);
}

.theme-control{
  border-left:1px solid #F4F4F4;
  padding: 0px 10px;
}

.purpleText{
  color:var(--purpleColor)
}
.icon{
  cursor:pointer;
}


.darkTheme{
  background:var(--darkBgPrimary);

}

.lightTheme{
  background:--white;
  
}

.bgPurple{
color:var(--purpleColor)!important;

}
.bgSearch{
 background-color:red !important;
}
.whiteText{
  color:white;
}

.darkColor{
  background-color:var(--darkColor) ;
  outline:none;
  border:none;
  height: .8px;
}

@media only screen and (min-width: 64em) {
.container{
  max-width: 70% !important;

}

}

/*Nav*/
.controls select{
  background-color: transparent;
}

.lightThemeText{
  color:var(--lightThemeText);
}